* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  border: 2px solid red;
  box-sizing: border-box;
  width: 800;
  height: 800;
}
